DATABASE_URL=sqlite://zkfied.db
IPFS_URL=http://127.0.0.1:5001
LIGHTWALLETD_URL=https://testnet.lightwalletd.com:9067
ZCASH_RPC_URL=http://127.0.0.1:8232
ZCASH_RPC_USER=user
ZCASH_RPC_PASS=pass
ZCASH_NETWORK=testnet
ZCASH_PARAMS_DIR=/Users/ldm/.zcash-params

NEAR_CONTRACT_ID=zkfied-evidence.reg.mrhashfox.testnet
NEAR_NETWORK=testnet
NEAR_ACCOUNT_ID=reg.mrhashfox.testnet
NEAR_PRIVATE_KEY=ed25519:3anKM6V4Rw4WCYEJkz6ew6FHBga6battdVpEfQVLBzgrdSoCZYPcSWGBwL2U8RcrQ983ciHwNEaA7MKMY5y8tR4N

MINA_GRAPHQL_ENDPOINT=https://api.minascan.io/node/devnet/v1/graphql
MINA_ZKAPP_ADDRESS=B62qjLQo287BXoYZBweHfRN5bikWUFdc81rqECVEiRCBEoYBEGCbNc3

RESEND_API_KEY=re_PyJTCJRZ_KurHiSo5MjzcqYVV4ycZRbLR

PORT=3000
